@inject NavigationManager _nav
<!-- Mudblazor list of general links to my pages -->
<div class="mt-4" Style="display:table; margin:auto">
		<MudButton Href="https://github.com/z99o"
				   Target="_blank"
				   Variant="MudBlazor.Variant.Filled"
				   EndIcon="@Icons.Custom.Brands.GitHub"
				   Color="MudBlazor.Color.Primary">
			GitHub Link
		</MudButton>
	
		<MudButton Href="https://sadclowngames.itch.io/"
				   Target="_blank"
				   Variant="MudBlazor.Variant.Filled"
				   EndIcon="@Icons.Material.Filled.Games"
				   Color="MudBlazor.Color.Primary">
			Itch.io Link
		</MudButton>
				
	</div>
@code {


}
