<RadzenHeader >
    <div  style="padding-top: 1rem;padding-bottom: 1rem;padding-right: 4rem; float:right">
        <RadzenMenu>
            <RadzenMenuItem Text="Home" Icon="home">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Resume" Icon="home">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Projects" Icon="save">
            </RadzenMenuItem>
            <RadzenMenuItem Text="Contact" Icon="account_box">
            </RadzenMenuItem>
           
        </RadzenMenu>
    </div>
</RadzenHeader>


@code {
    bool sidebarExpanded = true;
}